<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="responsive.css">
</head>
<body>

    <div class="container">
        
        <header class="header-principal">
            <a href="info.html" class="info">INFO</a>
            <a href="portfolio.html" class="link_portfolio">PORTFOLIO</a>
        </header>
    
        <main class="main">
            <p>Manuel Blanco</p>
        </main>

        <footer class="footer">
            <div class="container-header-secundario">
                <header class="header-secundario">
                    <a href="portfolio.html">PORTFOLIO</a>
                </header>
            </div>
        
            <div class="contenedor-decoracion">
                <div class="decoracion"></div>
            </div>
        </footer>

    </div>

</body>
</html>