<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="info.css">
    <link rel="stylesheet" href="responsive_info.css">
</head>
<body>

    <div class="container">
        
        <header class="header-principal">
            <a href="./index.html" class="info"><i class="fa-solid fa-arrow-left"></i></a>
        </header>
    
        <main class="main">

            <section class="principal">
    
                <p>Hello and welcome to my website. My name is Manuel Blanco, and
                    i am a programmer based in Bogota, Colombia.
                </p>
        
                <p>With a strong interest in technology and culture, i work on a variety of 
                    self-commissioned projects as well as for various clients to help
                    them transform their ideas into visual worlds.
                </p>
        
                <p>If you would like to work or get in touch with me, please don't
                    hesitate to send me an email:&rpar;
                </p>
            </section>
    
            <hr class="separadores">

            <section class="correo">
                <p>manuelblanco@gmail.com</p>
            </section>

            <hr class="separadores">
    
            <section class="redes">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </section>
    
        </main>

        <footer class="footer">

            <div class="container-header-secundario">
                <header class="header-secundario">
                    <a href="./portfolio.html">PORTFOLIO</a>
                </header>
            </div>
    
            <div class="contenedor-decoracion">
                <div class="decoracion"></div>
            </div>

        </footer>
    </div>

    <script src="https://kit.fontawesome.com/a3f1fa9d65.js" crossorigin="anonymous"></script>
</body>
</html>