<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="portfolio.css">
    <link rel="stylesheet" href="responsive_portfolio.css">
</head>
<body>
    <div class="container">
        
        <header class="header-principal">
            <a href="./index.html" class="info"><i class="fa-solid fa-arrow-left"></i></a>
        </header>
    
        <main class="main">


            <div class="project">
                <div class="data">
                    <h2 class="name-project"><a href="project.html">AGRIMANAGER</a></h2>
                    <p class="type-work"></p>
                </div>
                <div class="technologies">
                    <ul>
                        <li>VUE</li>
                        <li>NUXT</li>
                        <li>REDUX</li>
                        <li>SASS</li>
                        <li>TYPESCRIPT</li>
                        <li>REACT</li>
                        <li>VANILLA JAVASCRIPT</li>
                    </ul>
                </div>
            </div>

            <div class="project">
                
                <div class="data">
                    <h2 class="name-project">INFRAPEDIA</h2>
                    <p class="type-work"></p>
                </div>
                
                <div class="technologies">
                    <ul>
                        <li>VUE</li>
                        <li>SASS</li>
                        <li>VUEX</li>
                        <li>VANILLA JAVASCRIPT</li>
                        <li>TAILWINDCSS</li>
                    </ul>
                </div>
            </div>

            <div class="project">
                <div class="data">
                    <h2 class="name-project">KOMERCIA</h2>
                    <p class="type-work">freelance</p>
                </div>
                <div class="technologies">
                    <ul>
                        <li>VUE</li>
                        <li>VUEX</li>
                        <li>VANILLA JAVASCRIPT</li>
                        <li>TAILWINDCSS</li>
                    </ul>
                </div>
            </div>

            <div class="project">
                <div class="data">
                    <h2 class="name-project">SERACERA</h2>
                    <p class="type-work">freelance</p>
                </div>
                <div class="technologies">
                    <ul>
                        <li>WORDPRESS</li>
                        <li>ECOMMERCE</li>
                    </ul>
                </div>
            </div>

            <div class="project">
                <div class="data">
                    <h2 class="name-project">AGRIMANAGER V2.0</h2>
                    <p class="type-work"></p>
                </div>
                <div class="technologies">
                    <ul>
                        <li>REDUX</li>
                        <li>REACT</li>
                        <li>MICROFRONTENDS WITH WEBPACK</li>
                        <li>VANILLA JAVASCRIPT</li>
                        <li>TAILWINDCSS</li>
                    </ul>
                </div>
            </div>
            
    
        </main>

        <footer class="footer">

            <div class="container-header-secundario">
                <header class="header-secundario">
                    <a href="#">PORTFOLIO</a>
                </header>
            </div>
    
            <div class="contenedor-decoracion">
                <div class="decoracion"></div>
            </div>

        </footer>

        

    </div>

    <script src="https://kit.fontawesome.com/a3f1fa9d65.js" crossorigin="anonymous"></script>
</body>
</html>