<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="project.css">
    <link rel="stylesheet" href="responsive_project.css">
</head>
<body>
    
    <div class="container">

        <header class="header-principal">
            <a href="./portfolio.html" class="info"><i class="fa-solid fa-arrow-left"></i></a>
            <a href="portfolio.html" class="link_portfolio">PORTFOLIO</a>
        </header>

        <section class="container-name">
            <h2 class="name-project">PROJECTS  <i class="fa-solid fa-arrow-right"></i>  AGRIMANAGER</h2>
        </section>

        <main class="main">
                
            <section class="technologies">
                <ul>
                    <li>VUE</li>
                    <li>NUXT</li>
                    <li>REDUX</li>
                    <li>SASS</li>
                    <li>TYPESCRIPT</li>
                    <li>REACT</li>
                    <li>VANILLA JAVASCRIPT</li>
                </ul>
            </section>

            <section class="description-project">
                <p>
                    Infrapedia is an open source project available on Github, with the most complete, 
                    versalite-interactive infrastructure map of the internet. It allows engineers, carriers, 
                    data center operators, business development executive and other stakeholders to navigate 
                    the Internet's collection of networks and data centers.
                </p>
            </section>

            <div class="container-section">

                <section class="development-description">
                    <p>/* Designed and develop mobile oriented desings
                        for a more concise and easy-to-use UI, allowing
                        the user to have a better experience */</p>
                </section>

                <section class="cover-img">
                    
                    <div class="container-img">
                        <img src="images/proyecto1.webp" alt="proyecto1">
                    </div>

                </section>

                <section class="images-project">
                    
                    <div class="container-img">
                        <img src="images/proyecto1.webp" alt="proyecto1">
                    </div>

                    <div class="container-img">
                        <img src="images/proyecto1.webp" alt="proyecto1">
                    </div>

                    <div class="container-img">
                        <img src="images/proyecto1.webp" alt="proyecto1">
                    </div>

                    <div class="container-img">
                        <img src="images/proyecto1.webp" alt="proyecto1">
                    </div>

                    <div class="container-img">
                        <img src="images/proyecto1.webp" alt="proyecto1">
                    </div>

                    <div class="container-img">
                        <img src="images/proyecto1.webp" alt="proyecto1">
                    </div>

                    <div class="container-img">
                        <img src="images/proyecto1.webp" alt="proyecto1">
                    </div>

                    <div class="container-img">
                        <img src="images/proyecto1.webp" alt="proyecto1">
                    </div>


                </section>

                <section class="about">
                    <p>&lt;This included thinking more about atomic desings,
                        allowing to reuse components across the entire UI,
                        reducing considerably build time and also final bundle
                        size&gt;</p>
                </section>

                <section class="unsuccessful">
                    <div class="container-img">
                        <img src="images/proyecto2.jpg" alt="proyecto2">
                    </div>
                </section>
            </div>

        </main>

        <footer class="footer">
            <p>© 2022 Manuel. All rights reserved.</p>
            <p>Designed by Barbara Galeano</p>
        </footer>

    </div>
    <script src="https://kit.fontawesome.com/a3f1fa9d65.js" crossorigin="anonymous"></script>
</body>
</html>