.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: var(--colorFondoAmarillo);
}

.container_header_secundario{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 5px;
}

.header_secundario{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.header_secundario a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    text-align: end;
    padding: 5px 15px 5px 10px;
    border-radius: 20px;
    background: #d2d2d2;
    margin-right: 5px;
}

.contenedor_decoracion{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.decoracion{
    width: 30%;
    height: 5px;
    border-radius: 10px;
    background-color: black;
}

/* Dispositivos móviles más grandes, como smartphones modernos y tablets pequeñas. */
@media screen and (min-width:480px){
    .header_secundario a{
        padding: 10px 15px 10px 10px;
    }
}

/* Para tablets más grandes y pantallas pequeñas de escritorio. */
/* @media screen and (min-width:768px){

}   */

/*  Para pantallas de escritorio medianas. */
/* @media screen and (min-width:1024px){
     
} */

/* Para pantallas de escritorio grandes. */
/* @media screen and (min-width:1200px){
      
} */