/* Main */
.main{
    width: 100%;
    margin-top: 50px;
}

.main .separadores{
    color: black;
}

.main .principal{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .principal p{
    padding: 15px 0;
    font-size: 1.2em; /*24px*/
    color: #000000;
    text-align: justify;
}

.main .correo{
    width: 90%;
    margin: 0 auto;
}

.main .correo p{
    line-height: 50px;
    font-size: 1.2em;
    text-align: start;
}

.redes{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
} 

.redes i{
    font-size: 2em;
    padding: 10px;
}

@media screen and (min-width:500px){
    
    .main .principal{
        width: 100%;
        padding: 0 25px;
    }

    .main .principal p{
        padding: 10px 0;
    }

    .main .correo{
        width: 100%;
        padding: 0 25px;
    }

}