*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorFondoAmarillo: #EFFF00;
    --colorFondoGris: #939393;
    --colorFondoBlanco: #ffffff;
    --colorFondoNegro: #000000;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Dispositivos Moviles */

.container{
    width: 100%;
    height: 100vh;
}

/* Header */

 .header-principal{
    position: fixed;
    background: var(--colorFondoBlanco);
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 15px; 
    border-bottom: 1px solid #000000;
    z-index: 1000;
}

.header-principal a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 1.5em; /*19px*/
    padding: 10px;
}

/* Main */

.main{
    width: 100%;
    margin-top: 50px;
}

.main .separadores{
    color: black;
}

.main .principal{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .principal p{
    padding: 15px 0;
    font-size: 1.2em; /*24px*/
    color: #000000;
    text-align: justify;
}

.main .correo{
    width: 90%;
    margin: 0 auto;
}

.main .correo p{
    line-height: 50px;
    font-size: 1.2em;
    text-align: start;
}

.redes{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
} 

.redes i{
    font-size: 2em;
    padding: 10px;
}

/* Footer */

.footer{
    position: fixed;
    background: var(--colorFondoBlanco);
    bottom: 0;
    width: 100%;
    height: 70px;
}

.container-header-secundario{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.header-secundario{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.header-secundario a{
    width: 100%;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    text-align: end;
    padding: 15px 15px 15px 0;
}

.contenedor-decoracion{
    display: flex;
    justify-content: center;
    width: 100%;
}

.decoracion{
    width: 30%;
    height: 5px;
    border-radius: 10px;
    margin: 5px;
    background-color: black;
}