*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorFondoAmarillo: #EFFF00;
    --colorFondoGris: #939393;
    --colorFondoBlanco: #ffffff;
    --colorFondoNegro: #000000;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url('images/lenguajes-de-programación-1-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Dispositivos Moviles */

/* Header */

.header-principal{
    position: fixed;
    background: var(--colorFondoBlanco);
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 15px; 
    border-bottom: 1px solid #000;
    z-index: 1000;
}

.header-principal a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 50px;
}

/* .link_portfolio{
    display: none;
} */

/* Main */

.main {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main .project{
    max-width: 90%;
    width: fit-content;
    padding: 10px;
    background: var(--colorFondoBlanco);
    border-bottom: 1px solid #000;
    align-self: end;
}

.data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.data .type-work{
    padding-left: 5px;
    font-size: .8em;
}

.data a{
    text-decoration: none;
    color: #000;
}

.main .project .technologies{
    display: inline-block;
    padding-top: 3px;
}

.main .project .technologies ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main .project .technologies ul li{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    font-size: .5em;
    padding: 2px 5px;
    margin: 2px 2px;
}

/* Footer */

.footer{
    position: fixed;
    background: var(--colorFondoBlanco);
    bottom: 0;
    width: 100%;
    height: 70px;
    background: transparent;
    display: flex;
    align-items: end;
}

.container-header-secundario{
    display: none;
}

.contenedor-decoracion{
    display: flex;
    justify-content: center;
    width: 100%;
}

.decoracion{
    width: 30%;
    height: 5px;
    border-radius: 10px;
    margin: 5px;
    
    background-color: #fff;
}