/* Dispositivos Moviles */

.container{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/lenguajes-de-programación-1-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main .project{
    max-width: 90%;
    width: fit-content;
    padding: 10px;
    background: var(--colorFondoBlanco);
    border-bottom: 1px solid #000;
    align-self: end;
}

.data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.data .type_work{
    padding-left: 5px;
    font-size: .8em;
}

.data a{
    text-decoration: none;
    color: #000;
}

.main .project .technologies{
    display: inline-block;
    padding-top: 3px;
}

.main .project .technologies ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main .project .technologies ul li{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    font-size: .5em;
    padding: 2px 5px;
    margin: 2px 2px;
}

@media screen and (min-width:480px) {
    .name-project{
        font-size: .8em;
    }

    .type-work{
        padding: 0 10px;
    }

    .main .project .technologies ul li{
        padding: 5px 5px;
        font-size: .6em;
    }
}

@media screen and (min-width:768px) {

    .name-project{
        font-size: 1em;
    }

    .data .type-work{
        font-size: .9em;
        font-weight: 700;
        margin-left: 5px;
    }

    .main .project .technologies ul li{
        padding: 5px 5px;
        font-size: .7em;
    }
}

@media screen and (min-width:1083px) {

    .name-project{
        font-size: .9em;
    }

    .data .type-work{
        font-size: 1em;
        font-weight: 700;
        margin-left: 5px;
    }

    .main .project .technologies ul li{
        padding: 5px 10px;
        font-size: .8em;
    }

}

@media screen and (min-width:1200px) {

    .name-project{
        font-size: 1.2em;
    }

    .data .type-work{
        font-size: 1em;
        font-weight: 700;
        margin-left: 5px;
    }

    .main .project .technologies ul li{
        padding: 5px 10px;
        font-size: 1em;
    }

}