/* Dispositivos Moviles */
.container_name{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    position: fixed;
    top: 50px;
    background: var(--colorFondoBlanco);
}

.main{
    margin-top: 90px;
}

.container_name h2{
    font-size: 1em;
    padding: 10px 5px 10px 10px;
}

.description_project, .development_description, .images_project,.cover_img ,.about, .unsuccessful{
    width: 100%;
    border-bottom: 1px solid black;
}

.description_project p, .development_description p, .about p{
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    text-align: justify;
    font-size: .9em;
}

.development_description p{
    font-size: 1em;
}

.images_project, .cover_img, .unsuccessful{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cover_img{
    border: none;
}

.container_img{
    width: 90%;
    padding: 15px;
}

.container_img img{
    width: 100%;
}

.about p{
    font-size: .9em;
    padding: 10px 25px;
}

@media screen and (min-width:540px) {
    
    .main{
        display: flex;
        flex-wrap: wrap;
    }

    .main .technologies{
        width: 30%;
        border-right: 1px solid black;
    }

    .main .description_project{
        width: 70%;
    }

    .main .development_description{
        width: 50%;
        border-right: 1px solid black;
        display: flex;
        align-items: center;
    }

    .container_section{
        display: flex;
        flex-wrap: wrap;
    }

    .main .cover_img{
        width: 50%;
        border-bottom: 1px solid black;
    }

    .main .cover_img img{
        width: 100%;
        border-bottom: 1px solid black;
    }

    .images-project .container_img{
        width: 90%;
    }

}

@media screen and (min-width:640px) {

    .main .description_project p{
        font-size: 1.1em;
    }

    .main .development_description{
        font-size: 1.2em;
    }

    .main .about{
        font-size: 1.1em;
    }

    .main .container_section .images_project .container_img{
        width: 50%;
    }

    .unsuccessful .container_img{
        width: 70%;
    }

}

@media screen and (min-width:1024px) {

    .main .description_project p{
        font-size: 1.1em;
    }

    .main .development_description{
        font-size: 1.4em;
    }

    .main .about{
        font-size: 1.2em;
    }

    .main .container_section .images-project .container_img{
        width: 33.3%;
    }

    .main .unsuccessful .container_img{
        width: 45%;
    }

}

@media screen and (min-width:1260px) {

    .main .description_project p{
        font-size: 1.2em;
    }

    .main .development_description{
        font-size: 1.5em;
    }

    .main .about{
        font-size: 1.4em;
    }

    .main .unsuccessful .container_img{
        width: 40%;
    }

}





