/*Moviles en horizontal en a
=============================================================*/
@media screen and (min-width:480px){
   
    .header_principal a{
        margin-top: 10px;
        font-size: 1.2em;
    }

    .link_portfolio{
        display: inline;
    }

    .footer{
        display: none;
    }
}
   
/*Moviles en horizontal o tablets en vertical
=========================================================*/
@media screen and (min-width:767px){
    
    .header_principal a{
        margin-top: 10px;
        font-size: 1.5em;
    }

    .link_portfolio{
        display: inline;
    }

    .footer{
        display: none;
    }
}

 



