.technologies{
    width: 100%;
    border-bottom: 1px solid black;
}

.technologies ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.technologies ul li{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    font-size: .6em;
    padding: 2px 5px;
    margin: 2px 2px;
}

@media screen and (min-width:540px) {
    .technologies{
        width: 30%;
        border-right: 1px solid black;
    }
}

@media screen and (min-width:640px) {
    .technologies ul li{
        font-size: .7em; 
        padding: 4px 5px;
        margin: 5px 5px;
    }
}

@media screen and (min-width:1024px) {
    .technologies ul li{
        font-size: .9em; 
        padding: 4px 5px;
        margin: 5px 5px;
    }
}
